.latest-news {
    position: relative;
    /* height: 100vh; */
    width: 100vw;

    overflow-x: hidden;
    padding: 40px 0px 135px;
    /* background-color: rgb(219, 178, 178); */
}

.carousel-btn-wrapper {
    position: absolute;
    /* height: 100%; */
    width: 100%;
    display: flex;
    top: 50%;
    /* transform: translate(-50% -50%); */
    justify-content: space-between;
    /* border: 2px solid red; */
}

.carousel-btn-wrapper div {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-color: #ced0d1;
    /* background-color: red; */
    opacity: 0.7;
    margin: 0 7.5rem;
    color: #fff;
    font-size: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    transition: 0.3s all ease;
    cursor: pointer;
    z-index: 300;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.c-btn:hover {
    opacity: 1;
}

.latest-news-title {
    font-size: 24px;
    font-weight: 500;
    /* width: 100vw; */
    text-align: center;
    margin: 30px 86px;
    padding: 0 15px;

}

.cards-wrapper {
    opacity: 1;
    width: 2947px;
    transform: translate3d(40px, 0px, 0px);
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    /* border: 2px solid yellow; */
    transition: all 0.4s ease-in-out;
}


.card-wrapper-w-img {
    position: relative;
    width: 39.7rem;
    height: 59.9rem;
    margin: 0 1.2rem;
    /* border: blue 2px  solid; */
    border-radius: 1rem;
    background-color: rgb(27 72 164 / 78%);
    overflow: hidden;
    cursor: pointer;
    /* display: flex; */

}
.card{
    transition: 0.2s all ease;
}
.card:hover {
    
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transform: translate(-3px,-3px);
    

}

.card-wrapper {
    position: relative;
    width: 39.7rem;
    height: 39.9rem;
    margin: 0 1.2rem;
    /* border: blue 2px  solid; */
    border-radius: 1rem;
    background-color: #101820;
    overflow: hidden;
    cursor: pointer;
    /* display: flex; */

}

.card-wrapper a,
.card-wrapper-w-img a {
    text-decoration: none;
}


.img-wrapper {
    /* position: relative; */
    /* height: 11rem; */
    /* height: 6rem; */
    width: 100%;

}

.img-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 22rem;
    object-fit: cover;
}

.card-title {
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 25rem;
    color: #fff;
    margin-left: 3.5rem;
}

.card-wrapper .card-title {
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5rem;
    color: #fff;
    margin-left: 3.5rem;
}

.card-text {
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 20px;
    margin-left: 3.5rem;

}

.learn-more {
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    bottom: 25px;
    margin-left: 3.5rem;
    color: #fff;
}

@media screen and (max-width: 768px) {

    .card-wrapper-w-img {
        width: 30rem;
        height: 50rem;
    }
.card h3 {
    font-size: 20px;
}
.card p{
    font-size: 18px;
}

    .card-wrapper {
        width: 30rem;
    }

    
}

@media screen and (max-width: 400px){

    .carousel-btn-wrapper div{
        width: 5rem;
        height: 5rem;
        margin: 0 .5rem;
        /* background-color: red; */
    }

    .cards-wrapper {
        transform: translate3d(10px, 0px, 0px);
    }
}