.case-studies{
    position: relative;
    height: 100%;
    width: 100%;

    /* border: 1px solid red; */
    z-index: -1;
    padding: 5rem 0;
    /* overflow: hidden; */
}
.case-studies .content h2{
    font-size: 5.27rem;
    color: #000;
    font-weight: 600;
    text-align: center;
    margin: 3rem 0;
}
.case-studies .content p{
    font-size: 2rem;
    line-height: 1.2;
    color: #000;
    font-weight: 200;
    text-align: center;
    margin-bottom: 5rem;
}

.posts-wrapper{
    gap: 3rem;
    transform-style: preserve-3d;
    
}
.card-wrapper{
    
}
.card-wrapper a{
    text-decoration: none;
    transform-style: preserve-3d;
    perspective: 2rem;
  
}
.card-wrapper a #img-1{
    transform:  translateZ(-97.2rem);
    display: block;
}
.card-wrapper a #img-2{
    transform: rotateY(-200deg) translateZ(7.2rem);
    display: block;
}
.card-wrapper a img{
    height: 31rem;
    width: 31rem;
    object-fit: cover;
    /* transform: rotateY(-200deg) translateZ(-97.2rem);
    display: block; */
    box-shadow: 0 2px 2px rgba(0,0,0,0.1), 0 0 10px rgba(0,0,0,0.1);

}
