#footer{
    position: relative;
    width: 100vw;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

#footer .company-footer a {
    text-decoration: none;
    color: #fff;
}

.company-footer{
    justify-content: space-around;
    position: relative;
    width: 100vw;
    min-height: 13.5rem;
    flex-wrap: wrap;
    padding: 1rem 3.5rem;
    
}

.company-footer .list-items li {
    list-style: none;
    opacity: 0.7;
    letter-spacing: 0.8px;
    transition: 0.2s all ease;
    margin: 1.5rem 2.5rem;
    font-size: 14px;
    
}

.company-footer .list-items{
    justify-content: flex-start;
    min-width: 60%;
}

.company-footer .list-items li:hover{
    opacity: 1;
    text-decoration: underline;
}



.company-footer .social-media-wrapper li {
    list-style: none;
    margin: 1rem;

}

.company-footer .site-logo{
    
    width: 15rem;
    height: 3.8rem;
    /* border: 2px solid yellow; */
}
#footer .company-footer .site-logo a{
    display: block;
    position: relative;
    width: 15rem;
    height: 3.8rem;
    
    /* border: 2px solid yellow; */
}
.company-footer .site-logo a img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}





.company-footer::after{
    content: "";
    position: absolute;
    height: 0.1rem;
    width: 90vw;
    bottom: 0;
    background-color: #fff;
}

#footer .social-media a ion-icon{
    position: absolute;
    color: #ffffff85;
    transition: 0.2s all ease;
}

#footer .social-media a{
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: 2px solid #ffffff85;
    margin: 1.5rem 1rem;
}

#footer .social-media a ion-icon:hover{
    color: #fff;
}

@media screen and (max-width: 685px){

    .company-footer .site-logo{
        margin-bottom: 1rem;
    }

}

@media screen and (max-width: 500px){

    #footer .social-media{
        margin-top: 0rem !important;
    }
    .company-footer .list-items li{
        font-size: 14px;
    }
    .company-footer .list-items {
        flex-wrap: wrap;
        font-size: 14px;
        justify-content: space-around;
    }
    .site-footer{
       
        padding: 1rem 1.5rem !important;
        
    }
    .copy-right-wrapper{
        padding: 1rem 1.5rem !important;
    }
    
    
}
@media screen and (max-width: 400px){

    .company-footer .list-items li{
        font-size: 12px;
    }
}


/* down footer */


.site-footer{
    position: relative;
    min-width: 100vw;
    min-height: 8.8rem;
    /* background-color: rgb(248, 222, 149); */
    padding: 1rem 3.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.site-footer .terms-wrapper a{
    /* width: 100%;
    height: 100%; */
   /* border: 2px solid red; */
   text-decoration: none;
   margin: 0rem 1.5rem;

}
.site-footer .terms-wrapper a li{
    list-style: none;
    color: #ffffff85;
    font-size: 12px;
    transition: 0.2s all ease;
}
.site-footer .terms-wrapper a li:hover{
   color: #fff;
   text-decoration: underline;
}


.copy-right-wrapper p{
    font-size: 12px;
    color: #ffffff85;
    transition: 0.2s all ease;
}

.copy-right-wrapper p:hover{
    font-size: 12px;
    color: #fff;
}