.intro{
    position: relative;
    height: 100%;
    width: 100vw;
    z-index: -1;
    /* border: 2px solid yellow; */
}



.carousel{
    position: sticky !important;
    top: 0;
    height:90vh;
    width: 100%;
    /* border: 3px solid yellow; */
  

}
.carousel video{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   background-color: #03011E;
}

.wrapper-intro2{
    position: sticky !important;
    top: 0;
    height: 90vh;
    width: 100%;
    
}
.wrapper-intro2 img{
    position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   background-color: #03011E;
}


/* @media screen and (max-width: 1200px){
    

}
@media screen and (max-width: 1000px){

}
@media screen and (max-width: 7680px){

} */