.intro{
    position: relative;
    height: 80vh;
    width: 100vw;
    z-index: -1;
    text-align: center;
    /* top: 20rem; */
    overflow: hidden;
    /* border: 3px solid red; */
}

.carousel-content{
    width: 100%;
    position: absolute;
    z-index: 2;
    color: #FFFFFF;
    flex-direction: column;
    /* border: 1px solid red; */
    justify-content: flex-start;
    gap: 5rem;
    margin-top: 10rem;
}
.carousel-content h1{
    text-align: center;
    font-weight: 300;
    font-size: 7.3rem;
    line-height: 1.04;
    /* padding: 0 10.8rem; */
}
.carousel-content p{
    text-align: center;
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 1;
}

.c-button{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    z-index: 2;
    gap: 0.8rem;
    /* align-self: flex-end; */
    bottom: 5rem;
    /* border: 1px solid yellow; */
}
.c-button span{
    height: 1.2rem;
    width: 1.2rem;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
}

.carousel{
    /* border: 1px solid yellow; */
    position: relative;
    height:100%;
    width: 100vw;
    padding: 0;
    object-fit: cover;
    /* background-color: #A100FF; */
    /* top: 50%;
    left: 50%; */
    width: 100%;
    /* -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%); */
   
}
.carousel video{
    position: absolute;
    padding: 0;
    margin: 0;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    object-fit: cover;
}

@media screen and (max-width: 1200px){
    

}
@media screen and (max-width: 1000px){

}
@media screen and (max-width: 7680px){

}