.nice-things{
    position: relative;
    /* border: 1px solid red; */
    width: 100vw;
}

.nice-things-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 50px 50px 50px;
}

.left-wrapper h3{
    font-size: 42px;
    font-weight: 400;
    word-wrap: wrap;
    color: #000;
    line-height: 1.1;
}
.left-wrapper p{
    font-size: 21px;
    font-weight: 300;
    margin: 21px 0;
    color: #000;
    line-height: 1.2;
}

.right-wrapper{
    padding-left: 40px;
}

.right-wrapper .carousel-btn{
    justify-content: flex-end;
    
}

.right-wrapper .carousel-btn div{
    width: 4rem;
    height: 4rem;
    background-color: #f2f2f2;
    border-radius: 50%;
    text-align: center;
    margin: 10px;
    font-size: 30px;
    cursor: pointer;
    

}

.img-container{
    position: relative;
    width: 640px;
    height: 360px;
    border-radius: 35px;
    cursor: pointer;
    overflow: hidden;
    
}

.img-container img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



@media screen and (max-width: 1000px){

    .img-container{
        width: 490px;
        height: 317px;
        
    }

} 
@media screen and (max-width: 768px){

.nice-things-wrapper{
    flex-direction: column;
    align-items: center;
}

.left-wrapper h3{
    font-size: 32px;
}
.img-container{
    width: 390px;
    height: 217px;
    
}
.right-wrapper{
    padding-left: 0px;
}
}

@media screen and (max-width: 400px){

    .img-container{
        width: 340px;
        height: 273px;
        
    }
}