#hero-section {
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.hero-wrapper {
    width: 100vw;
    position: relative;
}



.hero-content-wrap {
    /* position: absolute; */
    color: #fff;
    width: 78%;
    padding: 50px 15px 3.5rem;

}

.hero-content-wrap--dark{
    color: var(--bs-gray-dark);
}

.hero-content-wrap h1 {
    padding-top: 30px;

}

.main-content-wrap {
    position: absolute;
    z-index: 1;
    max-width: 1200px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: transparent;
    top: 50%;
    transform: translate(0, -50%);
}

.hero-content-wrap h1 {
    font-size: 3.8rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.hero-content-wrap p {
    font-size: 2.3rem;
    font-weight: 400;
}



.video-wrap {
    display: block;
    width: 100%;
    min-height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    background-position: 50%;
    cursor: default;
    outline: none;
    max-height: 56rem;
}

.video-wrap video {
    display: block;
    width: 100%;
    min-height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    background-position: 50%;
    cursor: default;
    outline: none;

}







/* 
first Section */

#first-section {
    position: relative;
    width: 100vw;
    background-color: #F2F2F2;

}

.section-wrap {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    padding-bottom: 1rem;
}

.tittle-wrap {
    width: 100%;
    display: flex;
    padding-bottom: 3rem;

}

.tittle-wrap h2 {
    font-size: 4.8rem;
    /* flex-basis: 66.66667%; */
    line-height: 1.05;
    font-weight: 500;
    font-style: normal;
    text-transform: none;
    color: #000;
    line-height: 1.05
}


.para-img-wrap {
    width: 100%;
    /* display: flex;
    flex-wrap: nowrap; */

}

.para-img-wrap p {
    font-size: 1.6rem;
    line-height: 1.6;
    display: block;
    color: #000;
    font-weight: 400;
}

.para-img-wrap p:nth-child(2),
.para-img-wrap p:nth-child(3),
.para-img-wrap p:nth-child(4) {
    margin-top: 2.56rem;
}



.para-img-wrap .para-wrap {
    flex-basis: 50%;
    padding-right: 15px;
}

.img-wrap {
    padding-left: 15px;

    flex-basis: 50%;
}

.img-wrap img {
    width: 100%;
}

.para-wrap {
    padding-bottom: 3rem;
}

/* Second card section css */

.main-wrap {
    margin: 0 71.5px;
    padding: 0 15px 20px 15px;
}

.tittle-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 787px;
}

.tittle-wrapper h2 {
    padding: 50px 0 30px 0;
    font-weight: 500;
    font-style: normal;
    text-transform: none;
    color: #000;
    line-height: 1.05;
    font-size: 4.8rem;
}

.tittle-wrapper p {
    padding-bottom: 20px;
    line-height: 1.6;
    text-transform: none;
    font-size: 1.6rem;
    font-weight: 400;

}

.cards-container .card-wrap .s-card {
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    padding: 25px 20px;
    transition: .2s all ease;
}

.cards-container .card-wrap .s-card h3 {
    font-weight: 800;
    font-style: normal;
    text-transform: none;
    color: #000;
    line-height: 1.2;
    font-size: 2.5rem;
}

.cards-container .card-wrap .s-card p {
    margin-top: 15px;
    font-size: 1.4rem;
    line-height: 1.2;
}

.card-wrap {
    padding: 5px 5px 0 0;
    background: linear-gradient(270deg, #1B48A4 5px, transparent 0) 100% 0, linear-gradient(180deg, #1B48A4 5px, transparent 0) 100% 0;
    background-repeat: no-repeat;
    background-size: 56px 40px;
    transition: 0.2s all ease;
}

.card-wrap:hover {
    transform: translate(-2px, -2px);
}

.s-card:hover {
    box-shadow: rgb(38, 57, 77) 0px 10px 15px -5px;
}

.cards-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;
    max-width: calc(100% + 60px);
}


.card-wrap {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 47%;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    height: 100%;
}

/* Third Section css */

#third-section {
    width: 100%;
    background-color: #F2F2F2;
}

#third-section .main-wrap .card-wrap .s-card {
    background-color: #FFFFFF;
}





/* Responsive css */


@media screen and (max-width: 1000px) {

    .hero-content-wrap {
        padding-left: 35px;

    }

    .hero-content-wrap p {
        font-size: 1.4rem;
    }

    .tittle-wrap h2,
    .tittle-wrapper h2 {
        font-size: 2.4rem;
    }

    .tittle-wrapper p {
        font-size: 1.4rem;
    }

    .main-wrap {
        margin: 0;
        padding: 0 35px 20px 35px;
    }

    .cards-container .card-wrap .s-card h3 {

        font-size: 1.8rem;
    }

    .cards-container .card-wrap .s-card P {
        font-size: 1.2rem;
    }

    .card-wrap {
        flex: 0 0 50%;
        max-width: 45%;
    }

}

@media screen and (max-width: 768px) {
    .hero-content-wrap {
        text-align: center;
        width: 100%;
        padding: 0;
        color: #fff;
        padding: 0 20px;
    }

    .hero-content-wrap h1 {
        font-size: 4rem;
        padding-top: 20px;
    }

    .hero-content-wrap p {
        font-size: 2rem;
    }

    .tittle-wrap h2 {
        font-size: 2rem;
        line-height: 1.2;
        padding: 30px 0 20px 0;
    }

    .para-img-wrap {
        flex-direction: column;
    }

    .para-wrap {
        padding-bottom: 2rem;
    }

    .card-wrap {
        flex: 0 0 96%;
        max-width: 100%;
    }

    .main-wrap {
        padding: 0 15px 10px 15px;
    }

    .cards-container {
        margin-left: 0px;
        margin-right: 0px;
    }

    .card-wrap {
        margin-left: 0px;
        margin-right: 0px;
    }

    .video-wrap video{
        width: 150%;
    }
}

@media screen and (max-width: 500px) {
    .hero-content-wrap h1 {
        font-size: 3rem;
        padding-top: 15px;
    }

    .hero-content-wrap p {
        font-size: 2rem;
    }

    .tittle-wrap h2 {
        font-size: 1.8rem;
        line-height: 1.2;
    }

    .para-img-wrap p {
        font-size: 1.4rem;
    }

    .para-img-wrap p:nth-child(2) {
        margin-top: 1.6rem;
    }

    .section-wrap {
        padding-top: 30px;
    }

    .tittle-wrap {
        padding-bottom: 2rem;
    }

    .video-wrap video{
        width: 250%;
    }
}