.card-wrap{
    background:none;
    position: relative;
    /* border: 2px solid red; */
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 30%;
}
.card-wrap .s-card{
    padding: 60px 20px 25px 20px !important;
    border: none !important;
   
}
.card-wrap .s-card p{
    font-size: 1.6rem !important;
    line-height: 1.6 !important;
   
}
.card-wrap img{
    height: 150px;
    width: 150px;
    margin-bottom: -5.9rem;
    padding-left: 2rem;
}


/* Responsive Css */

@media screen and (max-width: 1000px){
    .card-wrap{
        -ms-flex: 0 0 100%;
    flex: 0 0 100%;
        max-width: 45%;
    }
    .card-wrap img{
        height: 150px;
        width: 150px;
        margin-bottom: -5.9rem;
        padding-left: 2rem;
    }
}

@media screen and (max-width: 768px){
    .card-wrap{
        -ms-flex: 0 0 100%;
    flex: 0 0 100%;
        max-width: 95%;
    }
    .card-wrap img{
        height: 100px;
        width: 100px;
        margin-bottom: -5.9rem;
        padding-left: 2rem;
    }

}
