section.offering{
    /* background-color: red; */
    padding: 0 1.2rem;
    margin:  0 10.1rem;
    padding-top: 10.1rem;

}

.offering h2{
    font-size: 4rem;
    font-weight: 700;
    line-height: 6rem;
    text-align: center;
}
.offering .offer-para{
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    color: rgba(118,118,118,1);
    padding-top: 1rem 1rem;
}


/* Styling cards */

.cards-section{
    display: flex;
    /* border: 2px solid red; */
    padding-top: 3.5rem;
}

.box-wrapper{
    position: relative;
    width: 23%;
    /* border: 2px solid red; */
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
    /* border-radius: 5px; */
    background-color: #f5fff6;
    transition: transform .5s ease;
    position: relative;
    overflow: hidden;
    height: 42rem;
}

.box-wrapper .img-container{
    width: 100%;
    margin: 0;
    height: 70%;
    border-radius: 0;
    overflow: hidden;
}
.box-wrapper .img-container img{
    width: 100%;
    position: relative;
    height: 100%;
    
}
.box-wrapper .img-container img::before{
    content: "";
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg,rgba(0,0,0,0) 40.5%,#000 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}



.box-wrapper .txt-wrapper{
    position: absolute;
    bottom: 0;
    padding: 0 2rem 1.5rem 2rem;
    
    /* border: 2px solid blue; */
    /* z-index: 20; */
    
}
.box-wrapper .txt-wrapper h4{
    color: #ffffff;
    /* height: 60px; */
    margin-top: 0;
    margin-bottom: 20px;
    overflow: hidden;
    font-size: 2.625rem;
    position: relative;
    z-index: 2;
    /* border: 2px solid grey; */
}

.box-wrapper .txt-wrapper p{
    /* background-color: #ffffff; */
    width: 100%;
    color: rgba(51,51,51,1);
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.5rem;
}


